<div class="container" >
    <div class="row justify-content-center align-items-center colorWhite">
        <div class="col-12">
            <section class="section projects is-medium text-center">
                <div class="container">
                    <h4 class="title mb-4">Meus Trabalhos Recentes</h4>
                    <p class="subtitle mb-5">Aqui estão alguns projetos de design anteriores em que trabalhei. Quer saber mais? <a href="mailto:Gabrielbastosdeveloper@gmail.com.br" class="has-text-primary">Envie-me um e-mail</a>.</p>

                    <div class="row">
                        <div class="  col-lg-4 col-12 mb-12 col-sm-12 col-md-12 mt-2">
                            <div class="card">
                                <img src="../../../assets/imagens/florComAmor.png" class="card-img-top" alt="Projeto Flor com amor.">
                                <div class="card-img-overlay card-img-overlay-centered">
                                    <h5 class="card-title"><a href="https://flor-com-amor.vercel.app/" target="_blank">Flor Com amor</a></h5>
                                    <p class="card-text">Desenvolvimento front-end de uma loja de vendas de flores.</p>
                                </div>
                            </div>
                        </div>
                       
                        <div class="  col-lg-4 col-12 mb-12 col-sm-12 col-md-12 mt-2">
                            <div class="card">
                                <img src="../../../assets/imagens/petfood.png" class="card-img-top" alt="Projeto petfood.">
                                <div class="card-img-overlay card-img-overlay-centered">
                                    <h5 class="card-title"><a href="https://ecom-pet.vercel.app/" target="_blank">PetFood</a></h5>
                                    <p class="card-text">Desenvolvimento front-end de venda de comidas para pets</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="  col-lg-4 col-12 mb-12 col-sm-12 col-md-12 mt-2">
                            <div class="card">
                                <img src="../../../assets/imagens/explorarEspaco.png" class="card-img-top" alt="Projeto viagem no espaço.">
                                <div class="card-img-overlay card-img-overlay-centered">
                                    <h5 class="card-title"><a href="https://turismo-no-espaco.vercel.app/" target="_blank">Viagem no espaço</a></h5>
                                    <p class="card-text">Podemos entender e explorar algumas ideias de viagens no espaço</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="  col-lg-4 col-12 mb-12 col-sm-12 col-md-12 mt-2">
                            <div class="card">
                                <img src="../../../assets/imagens/hundle.png" class="card-img-top" alt="Projeto huddle.">
                                <div class="card-img-overlay card-img-overlay-centered">
                                    <h5 class="card-title"><a href="https://huddle-topaz-zeta.vercel.app/" target="_blank">huddle</a></h5>
                                    <p class="card-text">Uma landin page focada para venda de seu produto.</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="  col-lg-4 col-12 mb-12 col-sm-12 col-md-12 mt-2">
                            <div class="card">
                                <img src="../../../assets/imagens/quitanda.png" class="card-img-top" alt="Projeto quitanda online.">
                                <div class="card-img-overlay card-img-overlay-centered">
                                    <h5 class="card-title"><a href="https://kitanda-online.vercel.app/index.html?" target="_blank">Quitanda Online</a></h5>
                                    <p class="card-text">Pensando no eccomerce, por que nao termos uma quitando online e facilitando sua feira!</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="  col-lg-4 col-12 mb-12 col-sm-12 col-md-12 mt-2">
                            <div class="card">
                                <img src="../../../assets/imagens/surflandia.png" class="card-img-top" alt="Projeto venda de equipamentos de surf.">
                                <div class="card-img-overlay card-img-overlay-centered">
                                    <h5 class="card-title"><a href="https://web-site-surf.vercel.app/" target="_blank">Surf Arte</a></h5>
                                    <p class="card-text">pensando na praticidade de venda de equipamentos de surf criamos uma pagina exclusiva.</p>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
