<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <section class="section projects is-medium bg-light text-center">
                <div class="container">
                    <h4 class="title mb-4">Meus Trabalhos Recentes</h4>
                    <p class="subtitle mb-5">Aqui estão alguns projetos de design anteriores em que trabalhei. Quer ver mais? <a href="mailto:matt@pendeavor.com" class="has-text-primary">Envie-me um e-mail</a>.</p>

                    <div class="row">

                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="../../../assets/imagens/imagemTeste.png" class="card-img-top" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to show on hover.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Adicione mais cartões aqui conforme necessário -->

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-primary">Primary</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
