.custom-background {
    background-color: #25535B; 
    color: white;
    padding: 20px; 
    width: 100%; 
    margin-top: -5rem; 
}

.btn-outline-primary {
    background-color: #25535b;
    border-color: #25535b
}

a{
    color:white;
}

.btn-outline-primary:hover {
    background-color: #B15330;
    border-color: #B15330
}

.componentFlutuante{
    margin-left: 8rem;
    width: 85%;
    background-color: #062D3E;
    position: relative; 
    z-index: 9999; 
    border-radius: 30px; 
    color: white;

}

.logo {
    margin-top: 5rem;
}

a{
color: white;
}

.bi{
    transition: fill 0.3s, transform 0.3s;
}

.bi:hover {
    transform: scale(1.2);
}

@media (max-width: 767px) {
    .logo {
        margin-top: 2rem;
    }

    .componentFlutuante{
        margin-top: -5rem;
        margin-bottom: 6rem;
        margin-left: 3rem;
    }

    .btn{
        margin-bottom: 1rem;
    }

    .custom-background {
        background-color: #25535B;
        padding: 50px 0;
        border-radius: 30px; /* Adicionando border-radius */
        margin-left: 0.7rem;
    }
   
}