<div class="container">
    <div class="row justify-content-center align-items-center bg-light">
        <div class="col-12 text-center">
            <h4>Depoimentos</h4>
            <p>Pessoas com quem trabalhei disseram algumas coisas legais...</p>
        </div>
    </div>

    <div id="carouselTestimonials" class="carousel carousel-dark slide" data-bs-ride="carousel" >
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-4 text-center">
                        <div class="rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
                            <img src="../../../assets/imagens/imagemTeste.png" class="img-fluid" alt="avatar person">
                        </div>
                        <p class="centralInfo">"Matt é um comunicador claro com a tenacidade e a confiança para realmente
                            se aprofundar em cenários de design complicados e no atrito colaborativo necessário para
                            produzir um excelente trabalho."</p>
                        <p class="fw-bold">Gabriel Bastos</p>
                        <p>CEO XXXXX</p>
                    </div>
                    
                    <div class="col-md-6 text-center">
                        <div class="rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
                            <img src="../../../assets/imagens/imagemTeste.png" class="img-fluid" alt="avatar person">
                        </div>
                        <p class="centralInfo">"Matt é um comunicador claro com a tenacidade e a confiança para realmente
                            se aprofundar em cenários de design complicados e no atrito colaborativo necessário para
                            produzir um excelente trabalho."</p>
                        <p class="fw-bold">Gabriel Bastos</p>
                        <p>CEO XXXXX</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row justify-content-center align-items-center">
                    <!-- Aqui você pode adicionar mais col-md-6 com os cards -->
                </div>
            </div>
            
            <!-- Outros depoimentos aqui -->
        </div>
    </div>
</div>
