    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-md-10 col-sm-12 text-center custom-background">
            <h4>Oi, eu sou Gabriel. Muito prazer.</h4>
            <p>
                Desde que comecei minha jornada como designer freelancer, há 12 anos, fiz trabalho
                <br>
                remoto para agências, prestei consultoria para startups e colaborei com pessoas talentosas
                <br> 
                para criar produtos digitais para uso empresarial e de consumo. Estou tranquilamente 
                <br>
                confiante, naturalmente curioso e sempre trabalhando para melhorar minhas costeletas.
            </p>
        </div>
    </div>
