<div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-md-10 col-sm-12 text-center custom-background p-4">
        <h4 class="mb-5">Oi, eu sou Gabriel. Muito prazer.</h4>
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text-uppercase text-decoration-underline">Quem sou?</h5>
                <p>
                    Gabriel é um desenvolvedor full stack com 2 anos de experiência. Trabalhou durante 1 ano com foco no
                    desenvolvimento de RPA e, atualmente, dedica-se à área de projetos na JSL Logística. Participou de projetos
                    significativos, como CTe 4.0, Controle Regulatório, Método de Envio NF, Portal de Informe de Rendimentos, e
                    está dando início ao projeto da API NFSe.
                </p>
            </div>
            
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="text-uppercase text-decoration-underline">Objetivo</h5>
                <p>
                    Meu objetivo não se limita apenas a ser tecnicamente competente no desenvolvimento de software, mas também a
                    compreender as necessidades do meu cliente. Para alcançar isso, considero essencial compreender as regras de
                    negócio, lidar eficientemente com o cliente e possuir uma comunicação eficaz, habilidades que permitem
                    apresentar o software de forma clara tanto para a equipe quanto para o cliente.
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="text-uppercase text-decoration-underline">Propósito</h5>
                <p>
                    Meu propósito não é ser o melhor programador do mundo, mas sim compreender suas dificuldades para oferecer a
                    melhor solução possível.
                </p>
            </div>
        </div>
    </div>
</div>
