
.custom-background {
    background-color: #6E07F3; /* Vermelho */
    color: white;
    padding: 20px; /* Adicione um preenchimento para separar o conteúdo do fundo */
    width: 100vw; /* Defina a largura para ocupar 100% da largura da viewport */
    height: 20rem; /* Defina a altura vertical */
}

h4 {
    margin-top: 2rem; /* Reduzindo a margem superior para torná-lo mais responsivo */
}

@media (max-width: 768px) {
    h4 {
        margin: 1rem; 
    }

    p{
        margin: 1rem;
        margin-bottom: 2rem;
    }

    .custom-background {
        background-color: #6E07F3; /* Vermelho */
        color: white;
        padding: 20px; /* Adicione um preenchimento para separar o conteúdo do fundo */
        width: 90vw; /* Defina a largura para ocupar 100% da largura da viewport */
        height: 25rem; /* Defina a altura vertical */
    }
}
