<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1>Desenvolvedor full stack e Desenvolvedor RPA</h1>
            <p>Transformando ideias em códigos, e códigos em realidade digital - seu sonho, minha expertise.</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 text-center">
            <img src="/caminho/para/sua/imagem.jpg" alt="Primeira Imagem" class="img-fluid">
        </div> 
    </div> -->

    <div class="row justify-content-center">
        <div class="col-6 col-md-4 text-center">
            <img src="./../../../assets/imagens/imgHeader.svg" alt="computador e códigos" class="img-fluid computadorECodigo" width="100%">
        </div>
    </div>
</div>
