
#skills_container {
    margin-top: -6rem;
    margin-bottom: 2rem;
}

svg {
    width: 15%;
    margin-top: 2rem;
}

.card-text{
    color: #062D3E;
}
/* Responsividade */
@media (max-width: 768px) {
    svg {
        width: 30%;
    }

    #skills_container {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

}

.circle-container {
    display: inline-block;
    width: 200px; /* Defina o tamanho do círculo aqui */
    height: 200px; /* Defina o tamanho do círculo aqui */
    border-radius: 50%; /* Para criar um círculo */
    overflow: hidden; /* Para garantir que a imagem fique dentro do círculo */
    position: relative;
}

.circle-image {
    width: 30%;
    height: 30%;
    object-fit: cover; /* Para ajustar a imagem dentro do círculo */
}

