<div class="container" id="skills_container">
    <div class="row justify-content-center">
        <div class="card-group col-12 col-sm-12 col-md-12">
            <div class="card text-center">
                <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                    <img src="../../../assets/imagens/front-end.png" width="64" height="64" alt="Front-end" class="img-fluid">
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-4">Front-end</h5>
                    <p class="card-text color-title">
                         HTML
                        <br>
                         CSS
                        <br>
                         Bootstrap
                        <br>
                         Angular
                        <br>
                         JavaScript
                        <br>
                         typeScript
                    </p>
                </div>
            </div>
            
            <div class="card text-center">
                <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                    <img src="../../../assets/imagens/backend.png" width="64" height="64" alt="Front-end" class="img-fluid">
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-4">Back-end</h5>
                    
                    <p class="card-text">
                            Oracle e MS SQL Server
                        <br>
                            .Net Core e .Net Framework
                        <br>
                            MVC (Model-View-Controller)
                        <br>
                            Domain Driven Design (DDD) e SOLID
                        <br>
                            Microsserviços e criação de Web APIs
                    </p>
                </div>
            </div>
            <div class="card text-center">
                <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                    <img src="../../../assets/imagens/rpa.png" width="64" height="64" alt="Front-end" class="img-fluid">
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-4">RPA</h5>
                    <p class="card-text">
                         VBA
                        <br>
                         UiPath
                        <br>
                         PYTHON
                        <br>
                         ROBOTFRAMEWORK
                        <br>
                         Gerenciamento RPA’s na cloud
                        <br>
                         Automação de teste com robotframework
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>